.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 445px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form label {
    font-weight: 400;
    font-size: medium;
    margin-right: 20px;
  }
  
  .signup-form input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 400px;
  }
  
  .signup-form button {
    padding: 10px;
    background-color: #5F9EA0;
    border-radius: 0.5rem;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 400px;
  }
  
  .signup-form button:hover {
    background: var(--bluegreen);
  }
  

.form-group {
    margin-bottom: 20px;
  }
  
  .error {
    border: 1px solid #f44336;
  }
  
  .error-text {
    display: block;
    color: #f44336;
    font-size: 14px;
    margin-top: 3px;
  }

  .remember {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Style for the checkbox input */
  .remember input[type="checkbox"] {
    width: 13px;
    height: 13px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 6px;
    cursor: pointer;
  }

  .remember label {
    font-size: 10px;
    color: #141414;
    align-items: center;
  }
  .signup-link {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  
